---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.location }}, {% if post.date_range %}{{ post.date_range }}{% else %}{{ post.date | date: "%Y" }}{% endif %}</p>
    {{ post.content }}
  </article>
{% endfor %}
